table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 10px;
    background-color: #f2f2f2;
    color: #000;
}

td {
    padding: 15px;
    text-align: left;
}

.logo{
	text-align: center;
}

.logo img{
	width: 64px;
	height: 64px;
}

/*@page {
  margin-top: 0.4em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
}*/
